<!DOCTYPE html>
<html lang="el">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inactive</title>
    <link rel="icon" href="/static/favicon-32x32.png">
    <link rel="stylesheet" href="/static/inactivity_style.css">
</head>

<body>
    <div id="main-panel">
        <p id="text">
            Αποσυνδεθήκατε λόγω αδράνειας.
        </p>
        <button id="retry">Επανασύνδεση</button>
    </div>
</body>

<script src="/static/inactivity_script.js"></script>
</html>