<!DOCTYPE html>
<html lang="el">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wait</title>
    <link rel="icon" href="/static/favicon-32x32.png">
    <link rel="stylesheet" href="/static/wait_style.css">
</head>

<body>
    <div id="main-panel">
        <p id="text">
            Περιμένετε μέχρι να τελειώσει ο προηγούμενος χρήστης...
        </p>
        <button id="retry">Προσπάθεια Σύνδεσης</button>
    </div>
</body>

<script src="/static/wait_script.js"></script>
</html>